{% set currentRoute = app.request.get('_route') %}
<nav id="main-side-bar" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <!-- ADMIN -->
        {% if is_granted("ROLE_PROFESSOR") %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Administration</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link {% if currentRoute == 'admin_create_user' %}active{% endif %}" href="{{ path('admin_create_user') }}">
                    <span data-feather="home"></span>
                    Créer un utilisateur
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if currentRoute == 'admin_create_class' %}active{% endif %}" href="{{ path('admin_create_class') }}">
                    <span data-feather="home"></span>
                    Créer une classe
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if currentRoute == 'admin_create_article' %}active{% endif %}" href="{{ path('admin_create_article') }}">
                    <span data-feather="home"></span>
                    Créer un article
                </a>
            </li>
        </ul>
        {% endif %}
        <!-- END ADMIN -->

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Général</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if currentRoute == 'default_index' %}active{% endif %}" href="{{ path('default_index') }}">
                    <span data-feather="home"></span>
                    Accueil
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Bon à savoir</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if currentRoute == 'professor_calendar' %}active{% endif %}" href="{{ path('professor_calendar') }}">
                    <span data-feather="file-text"></span>
                    Professeurs absents
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Les classes</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        {{ render(controller('BorySaintVincentBundle:SchoolClass:menu')) }}
    </div>
</nav>
